{{ ansible_managed | comment }}

[node_p2p]
node_key_file = "{{ node_p2p_key_file }}"
ip_address = "{{ ipify_public_ip  }}"
port = "{{ engine_node_p2p_port }}"

[state_chain]
ws_endpoint = "{{ engine_state_chain_ws_endpoint }}"
signing_key_file = "{{ engine_state_chain_signing_key_file }}"

[signing]
db_file = "{{ engine_signing_db_file }}"

[eth]
private_key_file = "{{ engine_eth_private_key_file }}"

[eth.rpc]
http_endpoint = "{{ engine_eth_rpc_http_endpoint }}"
ws_endpoint = "{{ engine_eth_rpc_ws_endpoint }}"

{% if (engine_eth_backup_rpc_http_endpoint | length > 0) or (engine_eth_backup_rpc_ws_endpoint | length > 0)  %}
[eth.backup_rpc]
http_endpoint = "{{ engine_eth_backup_rpc_http_endpoint }}"
ws_endpoint = "{{ engine_eth_backup_rpc_ws_endpoint }}"
{% endif %}

[dot.rpc]
http_endpoint = "{{ engine_dot_rpc_http_endpoint }}"
ws_endpoint = "{{ engine_dot_rpc_ws_endpoint }}"

{% if (engine_dot_backup_rpc_http_endpoint | length > 0) or (engine_dot_backup_rpc_ws_endpoint | length > 0)  %}
[dot.backup_rpc]
http_endpoint = "{{ engine_dot_backup_rpc_http_endpoint }}"
ws_endpoint = "{{ engine_dot_backup_rpc_ws_endpoint }}"
{% endif %}

[btc.rpc]
http_endpoint = "{{ engine_btc_rpc_http_endpoint }}"
basic_auth_user = "{{ engine_btc_rpc_basic_auth_user }}"
basic_auth_password = "{{ engine_btc_rpc_basic_auth_password }}"

{% if (engine_btc_backup_rpc_http_endpoint | length > 0)  %}
[btc.backup_rpc]
http_endpoint = "{{ engine_btc_backup_rpc_http_endpoint }}"
basic_auth_user = "{{ engine_btc_backup_rpc_basic_auth_user }}"
basic_auth_password = "{{ engine_btc_backup_rpc_basic_auth_password }}"
{% endif %}

[arb.rpc]
http_endpoint = "{{ engine_arb_rpc_http_endpoint }}"
ws_endpoint = "{{ engine_arb_rpc_ws_endpoint }}"

{% if (engine_arb_backup_rpc_http_endpoint | length > 0) or (engine_arb_backup_rpc_ws_endpoint | length > 0)  %}
[arb.backup_rpc]
http_endpoint = "{{ engine_arb_backup_rpc_http_endpoint }}"
ws_endpoint = "{{ engine_arb_backup_rpc_ws_endpoint }}"
{% endif %}

[health_check]
hostname = "{{ engine_health_check_hostname }}"
port = "{{ engine_health_check_port }}"

[prometheus]
hostname =  "{{ engine_prometheus_hostname }}"
port =  "{{ engine_prometheus_port }}"
